@model HomeViewModel?

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("ProcessUrls", "Home"))
    {
        <div class="row">
            <h2 class="col-sm-4" style="font-size: 34px">Type your urls here.</h2>
            <input class="btn btn-success mt-2 float-end col-sm-2 m-2 ms-auto" type="submit" value="Process" />
        </div>

        @Html.TextAreaFor(vm => vm.UrlsToProcess, 5, 50, new {style = "width:100% !important;"})
    }
</div>

@if (Model?.ProcessedUrls is not null && Model?.ProcessedUrls.Count > 0)
{
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Url</th>
                <th scope="col">Title</th>
                <th scope="col">Status code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var urlData in Model.ProcessedUrls)
            {
                @if (urlData.Succeeded)
                {
                    <tr>
                        <td>@urlData.Url</td>
                        @if (urlData.Title != null)
                        {
                            <td>@urlData.Title</td>
                        }
                        else
                        {
                            <td>It was not possible to scrape 'title' element</td>
                        }
                        <td>@urlData.StatusCode.ToString() (@((int)urlData.StatusCode))</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="color: red;">@urlData.Url</td>
                        <td style="color: red;">@urlData.ErrorMessage </td>
                        <td/>
                    </tr>
                }
            }
        </tbody>
    </table>
}
